{% extends 'base.html.twig' %}

{% block title %}New CookingHistory{% endblock %}

{% block body %}
    <h1>Create new CookingHistory</h1>

    {{ include('cooking_history/_form.html.twig') }}

    <a href="{{ path('cooking_history_index') }}">back to list</a>
{% endblock %}
