{% extends 'base.html.twig' %}

{% block title %}Edit Source{% endblock %}

{% block body %}
    <h1>Edit Source</h1>

    {{ include('source/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('source_index') }}">back to list</a>

    {{ include('source/_delete_form.html.twig') }}
{% endblock %}
