{% extends 'base.html.twig' %}

{% block title %}New CourseType{% endblock %}

{% block body %}
    <h1>Create new CourseType</h1>

    {{ include('course_type/_form.html.twig') }}

    <a href="{{ path('course_type_index') }}">back to list</a>
{% endblock %}
